.index-main
  .main-header
    -# .main-header__left
    -# %p.main-header__left-group
    -#   グループ名
    -# %p.main-header__left-name
    -#   自分

    -# .main-header__right


  .chat-main


  .main-footer